# general modules
django  >3.2,<3.3
python-decouple
djangorestframework

# third party modules
markdown      
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
#deployment modules

# email third party modules
django-mail-templated

#formatter and tests modules
black
flake8
pytest
pytest-django
Faker
locust


# background processing and caching
celery
redis
django-celery-beat


