[flake8]


exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env
    settings,
    __init__,
    migrations,
    accounts/views.py,
    TodoApp/api/utils.py,

ignore = 
    E712,
    W503

